@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutModel";
}
@using Classwork._26._10._23.Models;
@model Detail

<div>
    <p>
        Price:@Model.Price

    </p>
    <p>
        Color: @Model.Color

    </p>
    <p>
        Year:  @Model.Year
    </p>
</div>

